/* #root {
  max-width: 1320px;
  margin: 0 auto;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.custom-elipsis {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

.elipsis-title {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
